@use "../../styles.scss" as *;

.stats-div{
    width: 100%;
    height: 51px;
    margin-top: 1.8rem;

     @media (min-width: $tablet-size-min){
        width: 70%;
    }
}

fieldset{
    display: none;
}

.stats-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.stat-item{
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-size-min){
        flex-direction: row;
    }
}

.stat-name{
    
    @media (min-width: $tablet-size-min){
        color: $gray;
        font-size: 18px;
        margin-right: 0.8rem;
    }
}

.stat-current{
    font-size: 24px;

    @media (min-width: $tablet-size-min){
        font-size: 18px;
         font-weight: 700;
    }
}

.separator{
    height: 51px;
    width: 1px;
    background-color: $gray;
}
