<div class="stats-div">
    <ol class="stats-list">
        <li class="stat-item">
            <p class="stat-name">WPM:</p>
            <!--Placeholder-->
            <p class="stat-current">0</p>
        </li>
        <div class="separator"></div>
        <li class="stat-item">
            <p class="stat-name">Accuracy:</p>            
            <!--Placeholder-->
            <p class="stat-current">100%</p>
        </li>
        <div class="separator"></div>
        <li class="stat-item">
            <p class="stat-name">Time:</p>
            <!--Placeholder-->
            <p class="stat-current">0:60</p>
        </li>
    </ol>
</div>