@use "../../styles.scss" as *;

.stats-div{
    width: 100%;
    height: 51px;
    margin-top: 1.8rem;
}

.stats-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.stat-item{
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-current{
    font-size: 24px;
}

.separator{
    height: 51px;
    width: 1px;
    background-color: $gray;
}
