@use "../../styles.scss" as *;

.stats-div{
    width: 100%;
    height: 51px;
    margin-top: 1.8rem;

    @media (min-width: $tablet-size-min){
        width: 70%;
    }

}


.stats-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    @media (min-width: $tablet-size-min){
        justify-content: start;
    }
}

.stat-item{
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-size-min){
        flex-direction: row;
        margin-right: 1rem;
    }
}

.stat-name{
    
    @media (min-width: $tablet-size-min){
        color: $gray;
        font-size: 18px;
        margin-right: 0.8rem;
    }
}

.stat-current{
    font-size: 24px;

    @media (min-width: $tablet-size-min){
        font-size: 18px;
         font-weight: 700;
    }
}

.separator{
    height: 51px;
    width: 1px;
    background-color: $gray;

    @media (min-width: $tablet-size-min){
        margin-right: 1rem;
        height: 31px;
    }
}
