@use '../../styles.scss' as *;

.settings-panel-div {
  width: 100%;
  display: flex;
  height: 31px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select-wrapper {
  position: relative;
  display: inline-block;

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 166.5px;
    height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 12px;
    cursor: pointer;
    border-radius: $radius-8;
    background-color: $black;
    font-size: 16px;
    color: $white;
  }
}

 .select-arrow {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);  
  width: 12px;
  height: 12px;         
  pointer-events: none; 
}
