<div class="settings-panel-div">

    <div class="">
    <p>Difficulty:</p>
    <div>
      <input type="radio" id="easy" name="difficulty" value="easy" checked />
      <label for="difficulty">Easy</label>
    </div>
    <div>
      <input type="radio" id="medium" name="difficulty" value="medium" />
      <label for="medium">Medium</label>
    </div>
    <div>
      <input type="radio" id="hard" name="difficulty" value="hard" />
      <label for="hard">Hard</label>
    </div>
  </div>

  <div>
    <legend>Mode:</legend>
    <div>
      <input type="radio" id="timed" name="mode" value="timed" checked />
      <label for="timed">Timed(60)</label>
    </div>
    <div>
      <input type="radio" id="Passage" name="mode" value="passage" />
      <label for="passage">Passage</label>
    </div>
  </div>

  <div class="select-wrapper">
    <select class="select-option">
      <option value="hard">Hard</option>
      <option value="medium">Medium</option>
      <option value="easy">Easy</option>
      
    </select>
    <img src="assets/images/icon-down-arrow.svg" alt="down arrow" class="select-arrow">
  </div>

  <div class="select-wrapper">
    <select class="select-option">
      <option value="timed">Timed</option>
      <option value="passage">Passage</option>
    </select>
     <img src="assets/images/icon-down-arrow.svg" alt="down arrow" class="select-arrow">
  </div>
</div>
