@use '../../styles.scss' as *;

.settings-panel-div {
  width: 100%;
  display: flex;
  height: 31px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $tablet-size-min){
      justify-content: start;
      width: 80%;
    }
}

.options-div{
    display: none;

    @media (min-width: $tablet-size-min){
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
}

.options-paragraph{
  font-size: 14px;
  color: $light-gray;
  margin-right: 0.8rem;
}


//radio buttons

.radio-div{
  margin-right: 1rem;
}

.options-div input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio-label{
  height: 55px;
  padding: 5px 8px 5px 8px;
  border: 1px solid $light-gray;
  border-radius: $radius-8;
  color: $white;
}

.radio-div input[type="radio"]:checked + label {
  border: 1px solid $blue;
   color: $blue;
}

.separator{
  width: 1px;
  height: 31px;
  background-color: $gray;
  margin-right: 1rem;
}



.select-wrapper {
  position: relative;
  display: inline-block;

   @media (min-width: $tablet-size-min){
        display: none;
    }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 166.5px;
    height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 12px;
    cursor: pointer;
    border-radius: $radius-8;
    background-color: $black;
    font-size: 16px;
    color: $white;
  }
}

 .select-arrow {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);  
  width: 12px;
  height: 12px;         
  pointer-events: none; 
}
