<div class="settings-panel-div">

    <div class="options-div">
    <p class="options-paragraph">Difficulty:</p>
    <div class="radio-div">
      <input type="radio" id="easy" name="difficulty" value="easy" class="radio-button" checked/>
      <label for="easy" class="radio-label">Easy</label>
    </div>
    <div class="radio-div">
      <input type="radio" id="medium" name="difficulty" value="medium" class="radio-button"/>
      <label for="medium" class="radio-label">Medium</label>
    </div>
    <div class="radio-div">
      <input type="radio" id="hard" name="difficulty" value="hard" class="radio-button"/>
      <label for="hard" class="radio-label">Hard</label>
    </div>
  </div>

  <div class="options-div">
    <p class="options-paragraph">Mode:</p>
    <div class="radio-div">
      <input type="radio" id="timed" name="mode" value="timed" class="radio-button" checked/>
      <label for="timed" class="radio-label">Timed(60)</label>
    </div>
    <div class="radio-div">
      <input type="radio" id="passage" name="mode" value="passage" class="radio-button" />
      <label for="passage" class="radio-label">Passage</label>
    </div>
  </div>

  <div class="select-wrapper">
    <select class="select-option">
      <option value="hard">Hard</option>
      <option value="medium">Medium</option>
      <option value="easy">Easy</option>
      
    </select>
    <img src="assets/images/icon-down-arrow.svg" alt="down arrow" class="select-arrow">
  </div>


  <div class="select-wrapper">
    <select class="select-option">
      <option value="timed">Timed</option>
      <option value="passage">Passage</option>
    </select>
     <img src="assets/images/icon-down-arrow.svg" alt="down arrow" class="select-arrow">
  </div>
</div>
