@use "../styles.scss" as *;

.container{
    width: 100%;
    height: 100%;
    padding: 0.9rem 1rem 0 1rem;

     @media (min-width: $tablet-size-min){
        padding: 0.9rem 2rem 0 2rem;
     }
}

hr{
    width: 100%;
    border: solid 1px $light-gray;
    margin: 0 auto;
    margin-top: 1rem;
}