@use "../../styles.scss" as *;

.header-div{
    width: 100%;
    padding-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $tablet-size-min){
        margin-top: 30px;
    }
}

.logo-div{
    margin-left: 1rem;
    width: 32px;
    height: 32px;
    background-image: url("../../../public/assets/images/logo-small.svg");

    @media (min-width: $tablet-size-min){
        width: 266.86px;
        height: 39.18px;
        background-image: url("../../../public/assets/images/logo-large.svg");
    }
}

.best-score-div{
    display: flex;
    align-items: center;
    width: 40%;

    .best-score-paragraph{
        color: $gray;
        font-size: 16px;
        margin-left: 0.8rem;

        .best-score{
            color: $white;
        }
    }
}